<h1>Login Page</h1>
<% if (messages.error) { %>
    <%= messages.error %> 
    <% } %>
<form action="/loginPage" method="POST">
<div>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required></div></label>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required></div></label>

    <button type="submit">Register</button>
    
</div>
</form>
<a href="/registerPage">Register Page </a>