<h1>Register Page</h1>
<form action="/registerPage" method="POST">
<div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required></div></label>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required></div></label>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required></div></label>

    <button type="submit">Register</button>
    
</div>
</form>
<a href="/loginPage">Login Page</a>